/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.no-logueado-container{
    text-align:center;
    margin-top:7em;
    border: 1px solid orange;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 2em;
    border-radius: 15px;
    background-color: rgba(255, 166, 0, 0.128);
    color: rgb(255, 210, 126);
}

.no-logueado-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #A53D00;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius:20px;
    padding: 10px 15px;
    margin-top: 1em;
    }
    
    .no-logueado-btn:hover{
    background-image: -webkit-gradient(linear, left top, right bottom, from(#A53D00), to(#BF4F00));
    background-image: -o-linear-gradient(top left, #A53D00, #BF4F00);
    background-image: linear-gradient(to bottom right, #A53D00, #BF4F00);
    }